@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="_expanded">
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Board())" Href="/" Match="NavLinkMatch.All">Dashboard</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.NotepadPerson())" Href="/DevOps">DevOps</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Layer())" Href="/Architecture">Architecture</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Apps())" Href="/ddd">DDD</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.VideoSecurity())" Href="/Security">Security</FluentNavLink>

            <FluentNavLink Icon="@(new Icons.Regular.Size20.VideoSecurity())" Href="/Blog" >Blog</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.VideoSecurity())" Href="/Experience">Experience</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.VideoSecurity())" Href="/Tech">Tools & Technologies</FluentNavLink>

            <FluentNavLink Icon="@(new Icons.Regular.Size20.AddSquare())" Href="/Counter">Counter</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.WeatherThunderstorm())" Href="/Weather">Weather</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.NotepadPerson())" Href="/About">About</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool _expanded = true;
  
}

